{% extends "base.html" %}

{% block title %}
  Delete List
{% endblock title %}
<body>
  <main>
    {% block content %}
      <h1>Are you sure?</h1>
      <div>
        <form method="post">
          {% csrf_token %}
          <button>Delete</button>
        </form>
      </div>
    {% endblock content %}
  </main>
</body>
