{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ todolist_object.name }}
{% endblock title %}
<body>
  {% block content %}
    <main>
      <thead>
        <div>
          <h1>{{ todolist_object.name }}</h1>
          <p>
            <a href={% url "todo_list_update" todolist_object.id %}>Edit</a>
            <p>
              <p>
                <a href={% url "todo_list_delete" todolist_object.id %}>Delete</a>
              </p>
              <h2>Tasks</h2>
              <table>
                <tr>
                  <th>Task</th>
                  <th>Due Date</th>
                </tr>
              </thead>
              <tbody>
                {% for item in todolist_object.items.all %}
                  <tr>
                    <td>{{ item.task }}</td>
                    <td>{{ item.due_date }}</td>
                  </tr>
                {% endfor %}
              </table>
            </tbody>
          </div>
        </main>
      {% endblock content %}
    </body>
