<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href={% url "todo_list_create" %}>Create new list</a>
        </p>
        <p>
          <a href={% url "todo_item_create" %}>Create new item</a>
        </p>
        <table>
          <tr>
            <th>Name</th>
            <th>Number of items</th>
          </tr>
          <tbody>
            {% for todolist in todolist_list %}
              <tr>
                <td>
                  <a href="{% url "todo_list_detail" todolist.id %}">{{ todolist.name }}</a>
                </td>
                <td>{{ todolist.items.all | length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
