{% extends "base.html" %}

{% block title %}
  {{ todolistitem.task }}
{% endblock title %}
<body>
  <main>
    {% block content %}
      <h1>Update List</h1>
      <div>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Update</button>
        </form>
      </div>
    {% endblock content %}
  </main>
</body>
